--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple

# nucleo
torch
torchvision
opencv-python
numpy
pillow

# API web
fastapi
uvicorn[standard]
python-multipart

# desarrollo
matplotlib
jupyter
ipykernel